<div id="header" class=" container-fluid clearfix">
    <ul class="nav nav-pills pull-left">
        <li role="presentation" class="active"><a class="current-outlet-name">{{currentOutlet.name}}</a></li>
        <li role="presentation"><a href="#/outlets">Change Outlet</a></li>
    </ul>
    <div class="pull-left">
        <div class="text-center">
            <img src="img/Eatlo_Logo_square.png">
        </div>
    </div>
    <div class=" pull-right">
        <div class="clearfix">
            <div class="pull-right"><img onclick="window.open('http://www.eatloapp.com/app')" src="img/apple.png" alt="apple" height="50px" width="50px"></div>
            <div class="pull-right"><img onclick="window.open('http://www.eatloapp.com/app')" src="img/android.png" alt="android" height="50px" width="50px"></div>
            <div class="pull-right"><img onclick="window.open('https://www.twitter.com/eatloapp')" src="img/twitter.png" alt="Twitter" height="50px" width="50px"></div>
            <div class="pull-right"><img onclick="window.open('https://www.facebook.com/eatloapp')" src="img/facebook.png" alt="Facebook" height="50px" width="50px"></div>
        </div>
    </div>
</div>
<div id="main-pane" class="container-fluid">
    <div class="clearfix menu-pane">
        <p class="pull-left lead">Menu</p>
        <div class="btn-group pull-left" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="categoryBased('all')">All</button>
            <button type="button" class="btn btn-default" ng-click="categoryBased('veg')">Veg</button>
            <button type="button" class="btn btn-default" ng-click="categoryBased('nonveg')">Non-veg</button>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-md-9 col-lg-9 col-sm-9">
            <div class="col-xs-6 col-md-4 col-lg-4 col-sm-4" ng-repeat="item in currentOutlet.items | orderBy : foodType">
                <a class="thumbnail" ng-click ="addItemToCart(item)">
                    <img ng-src="{{item.imgUrl}}" alt="...">
                    <div class="clearfix">
                        <div class="pull-left"><h4><div class="{{item.isVeg ? 'circle green' : 'circle red'}}"></div>{{item.name}}</h4></div>
                        <div class="pull-right"><p class="price">&#x20b9; {{item.price}}</p></div>
                    </div>
                    <br/>
                    <p class="description">{{item.description}}</p>
                </a>
            </div>
        </div>
        <div ng-show="itemCount > 0" class="col-lg-3 col-md-3 col-sm-3">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="thumbnail" id="cart">
                    <p class="product-count"><span class="glyphicon glyphicon-shopping-cart"></span>{{itemCount}} items of {{cartItems.length}} products</p>
                    <div id="cart-items">
                        <div ng-repeat="item in cartItems" class="item-in-cart">
                            <p class="item-name">{{item.name}}</p>
                            <div class="clearfix col-lg-12 col-md-12 col-sm-12 ">
                                <div class="pull-left col-lg-4 col-sm-4 col-md-4 text-center">
                                    {{item.quantity}}<br/>

                                </div>
                                <div class="pull-right col-lg-8 col-md-8 col-sm-8 text-right">
                                    &#x20b9; {{item.totalPrice}}
                                </div>
                            </div>
                            <div class="clearfix increment-tab " >
                                <div class="pull-left ">
                                    <button class="change-count " ng-click="decreaseItemCount(item)"><strong>-</strong></button> &nbsp;<button class="change-count " ng-click="increaseItemCount(item)"><strong>+</strong></button>
                                </div>
                                <div class="pull-right">
                                    <button class="cancel-item" ng-click="deleteItem(item)"><strong>x</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <p class="text-center total">Total : <strong>&#x20b9;{{totalAmount}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="footer">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="#/outlets">Choose Location <span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="#">Choose Dishes</a></li>
                        <li><a href="#">Place Order</a></li>
                        <li><a href="#" >Order Histroy</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>